<div class="row">
    <div class="col-3 sticky-top">
        <div class="position-sticky top-0 start-0">
            <product-filter [category]="category"></product-filter>
        </div>
    </div>
    <div class="col">
        <div class="container">
            <div class="row row-cols-3">
                <div class="col" *ngFor="let product of filteredProducts">
                    <product-card [product]="product"></product-card>
                </div>
            </div>
        </div>
    </div>
</div>